#about {
    width: 100vw;
    height: 100vh;
    padding: 10rem;
    background-color: var(--color-quintenary);
}

.container-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    padding: var(--small-padding);
}

.header-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: var(--small-margin);
}

.image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.image-about img{
    width: 50%;
    height: 100%;
}