.main-header {
    padding: var(--large-padding) 8%;
    position: -webkit-sticky;
    position: sticky;
    height: 8vh;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--color-primary);
    transition: background 1s ease, backdrop 1s ease, box-shadow 1s ease;
}

.sticky {
    background: transparent;
    box-shadow: 1rem 0 5rem var(--dark-color);
    backdrop-filter: blur(1rem);
}

.group-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-button {
    background-color: var(--color-quaternary);
    border: none;
    padding: var(--small-padding);
    border-radius: var(--circle-radius);
    transition: box-shadow 1s ease;
}

.contact-button:hover {
    box-shadow: 11px 9px 15px -5px var(--color-shadow-quaternary);
    transform: scale(1.01);
}

#navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav-icon {
    font-size: 24px;
}

.store-name {
    font-family: 'Indie Flower';
}

#nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-item {
    list-style: none;
    transition: .35s;
    cursor: pointer;
}

#nav_list:hover> :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.active a {
    color: var(--dark-color);
    border-bottom: 3px solid var(--color-quintenary);
}

/* Mobile Menu */
/* Menu para Celular */

#mobile_menu {
    display: none;
}

@media screen and (max-width: 600px) {
    #nav_list {
        display: none; /* Oculta o navbar list normal */
    }

    #mobile_menu {
        display: none; /* Oculta o menu mobile por padrão */
    }

    .mobile_menu_toggle button{
        outline: none;
        border: none;
        background: transparent;
    }

    /* Estilos para o ícone do menu hamburger */
    .hamburger-icon {
        width: 30px;
        height: 2px;
        background-color: black;
        display: block;
        position: relative;
    }

    .hamburger-icon::before,
    .hamburger-icon::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: black;
        position: absolute;
        transition: transform 0.3s ease;
    }

    .hamburger-icon::before {
        top: -8px;
    }

    .hamburger-icon::after {
        top: 8px;
    }

    /* Animação para transformar o ícone em X */
    .mobile-menu-toggle.active .hamburger-icon::before {
        transform: rotate(45deg) translate(5px, 0);
    }

    .mobile-menu-toggle.active .hamburger-icon::after {
        transform: rotate(-45deg) translate(5px, 0);
    }

    /* Estilos para os botões de menu */
    .mobile-menu-list .nav-item {
        width: 100%; /* Largura total */
        background-color: rgba(0, 0, 0, 0.9); /* Fundo semi-transparente */
        margin: 5px 0; /* Espaçamento entre os botões */
    }

    .mobile-menu-list .nav-item a {
        display: block;
        padding: 10px; /* Espaçamento interno */
        color: white; /* Cor do texto */
        text-align: center; /* Alinhamento do texto */
        text-decoration: none; /* Remover sublinhado */
    }
}